/* color primario: #ED21D0
color secundario: #EF3721
color terciario: #ED2156
color cuarto: #BA21ED */
body{
    background-color: rgba(127, 255, 212, 0.534);
}
h1{ 
    padding: 1px; 
    margin-bottom: 5px;
}
h2{ 
    color: #EF3721;}
h3{ 
    color: blueviolet; 
    font-family: brodway; 
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px; 
}
.titulo{ 
    background-color: rgba(235, 232, 231, 0.527);
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    color: #ED21D0;
}
.paginas{
    border: 2px black solid;
    padding: 0px;
}

.menu{ 
    background-image: url(..//img/herramientas.jpg); background-size: cover; background-repeat: no-repeat;
    font-size: 15px; 
    color: #ED21D0; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    list-style-type: none;
    padding: 1em;
    border: 2px solid black;

}
.formulario{ 
    font-size: 15px; 
    color: #ED2156; 
    font-family: brodway; 
    background-color: rgb(228, 237, 241);
    /* border: 2px black solid;  */
    padding: 1em; 
    margin-top: 10px;
    margin-right: 100px;
    }
    .datos{width: 200px;}
.donde{ 
    margin: 10px;
    font-size: 15px; 
    color: #010611; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.texto{ 
    font-family: papyrus;}
.pie{ 
    background-color: rgb(218, 208, 208); 
    border: 3px red dotted;
}
.cabeza{ 
    background-color: rgb(245, 244, 242);
}
.clima 
{background-color: #EF3721;
}
.subtitulo{ 
    text-decoration: underline;
    margin-bottom: 0px;
    color: #EF3721;
}
.contame{ 
    /* border: 2px black solid ;  */
    padding: 0px; 
    margin-top: 10px;
    margin-bottom: 30px; 
    margin-right: 110px;
    background-color: rgb(237, 241, 241)
}
.obras {
    background-image: url(../img/obra.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 325px; height: 300px;
    margin: 10px;
}

/* .contenedor{width: 50%; height: 90vh; margin: auto;background-color: blue;}
.caja-1{background-color: turquoise; width: 70%; height: 70vh;}
.caja-2{background-color: violet; width: 50%; height: 50vh;}
.caja-3{background-color: green; width: 60%; height: 40vh;} */